$color-black: #000000;
$color-white: #ffffff;
$color-grey: #aaaaaa;

$color-primary: #1e1926;
$color-secondary: #0011e2;
$color-tertiary: #00c7fe;
$color-quaternary: #fd6f81;

$color-bg: #fbf8ff;
$color-bg-light: #fefdff;

$shadow-light: rgba(0, 0, 0, 0.2);
$shadow-medium: rgba(0, 0, 0, 0.3);
$shadow-dark: rgba(0, 0, 0, 0.4);
$shadow-hover: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px $shadow-light;

$gradient-start: #e2e2e2;
$gradient-end: #c9d6ff;
